body,
html {
  margin: 0;
  height: 100%;
}

@font-face {
  font-family: "norse-bold";
  src: url("norse-bold-webfont.woff2") format("woff2"),
    url("norse-bold-webfont.woff") format("woff");
}

input,
button,
select,
textarea {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  display: block;
}

#container {
  display: flex;
  height: 100vh;
}

.left-side {
  position: relative;
  background-image: url("halie-west.jpg");
  background-position: center;
  background-size: cover;
  width: 40%;
}

.give-credit {
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  bottom: 0;
  color: whitesmoke;
  background-color: rgba(0, 0, 0, 0.8);
}

.odin-container {
  height: 120px;
  display: flex;
  align-items: center;
  color: whitesmoke;
  justify-content: center;
  margin-top: 150px;
  background-color: rgba(0, 0, 0, 0.8);
}

.odin-logo {
  position: relative;
  width: 75px;
  height: auto;
  font: bold 50px;
}

.odin-container > p {
  font-size: 60px;
  font-family: "norse-bold";
}

.right-side {
  display: flex;
  flex-direction: column;
  width: 60%;
  background-color: rgb(70, 111, 111);
}

.introduction > p {
  font-family: "norse-bold";
  display: block;
  font-size: 20px;
  margin-left: 20px;
}

.get-started > p {
  display: block;
  font-family: "norse-bold";
  margin-left: 20px;
  font-size: 30px;
}

.form-container {
  display: flex;
  margin-left: 20px;
  width: 550px;
  border: solid 2px black;
  padding: 10px;
  border-radius: 5px;
}

.form-container > form {
  display: flex;
  flex-direction: column;
  gap: 50px;
}

.row {
  background-color: red;
  font-size: 20px;
  display: flex;
  gap: 150px;
}

.input-pair-1 {
  background-color: yellow;
  font-family: "norse-bold";
  display: flex;
  flex-direction: column;
  margin-left: 12px;
  gap: 4px;
}

input {
  border-radius: 5px;
  height: 25px;
}

input:valid {
  border: solid 2px green;
}

input:invalid {
  border: solid 2px red;
}
